@import "tailwindcss";

@theme {
  --color-gs1-blue: #002c6c;
  --color-gs1-blue-dark: #001f4d;
  --color-gs1-orange: #f26334;
  --color-gs1-surface: #f5f6f8;
}

html,
body {
  height: 100%;
}

button {
  cursor: pointer;
}
